{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chauffeur creation</h1>

    <div class="col-md-6 grid-margin stretch-card" bis_skin_checked="1">
        <div class="card" bis_skin_checked="1">
            <div class="card-body" bis_skin_checked="1">
                <h4 class="card-title">Basic form</h4>
                <p class="card-description"> Basic form elements </p>
                    <div class="form-group" bis_skin_checked="1">
                        <label for="exampleInputName1">Cin</label>
                  {{ form_widget(form.cin,{'attr': {'class': 'form-control'}})}}
                    </div>
                    <div class="form-group" bis_skin_checked="1">
                        <label for="exampleInputEmail3">Nom et prenom</label>
                        {{ form_widget(form.nom,{'attr': {'class': 'form-control'}})}}
                    </div>
                <div class="form-group" bis_skin_checked="1">
                    <label for="exampleInputEmail3">Num tel</label>
                    {{ form_widget(form.tel,{'attr': {'class': 'form-control'}})}}
                </div>
                    </div>
        </div>

        <button type="submit" class="btn btn-success mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>

            </div>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('chauffeur_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
