{% extends 'base.html.twig' %}
{% block stylesheets %}

{{ parent() }}
    <link href="{{ asset('css/nucleo.css') }}" rel="stylesheet" />

    <link href="{{ asset('argon/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('argon/assets/js/plugins/nucleo/fonts/nucleo-icons.svg') }}" rel="stylesheet" />
{% endblock stylesheets %}
{% block body %}
    <h1>Remarques</h1>
    <table class="table">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Enfant</th>
            <th>Tuteur</th>
            <th>Date</th
            <th class="text-right"></th>
        </tr>
        </thead>
        <tbody>
        <tr>

        </tr>

        </tbody>
    </table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    hello there just testing the modal
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
   <script>
       $("#mbtn").click(function () {
           $("#myModal").modal('toggle')
       })
   </script>
{% endblock %}
